@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
* { box-sizing: border-box; }

.layout-hight, .hero, .services { min-height: 700px; margin: 0 70px; }

.icon-btn, .services .three-columns .one-column i { height: 100px; line-height: 100px; width: 100px; cursor: pointer; font-size: 70px; background-color: #fff; color: #f1c40f; border-radius: 50%; text-align: center; }

body { margin: 0 auto; font-family: "Open Sans", sans-serif; background-color: #000; }

/*HERO*/
.hero { background: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=362d7bfa3bb12d109ccec4ef185281cf&auto=format&fit=crop&w=500&q=60) 0/cover no-repeat; }

.hero .nav { display: flex; justify-content: space-around; }

.hero .nav div { display: flex; justify-content: flex-start; }

.hero .nav div > p { color: #f1c40f; font-size: 32px; }

.hero .nav ul { display: flex; justify-content: flex-end; height: 100px; }

.hero .nav ul li { text-decoration: none; padding: 20px; text-transform: uppercase; list-style: none; }

.hero .nav ul li > a { color: #fff; text-decoration: none; }

.hero .small-hero { display: flex; flex-direction: column; align-items: center; }

.hero .small-hero h2 { font-size: 34px; color: #fff; margin-top: 100px; }

.hero .small-hero h1 { font-size: 78px; color: #fff; text-transform: uppercase; }

.hero .small-hero button { display: flex; height: 106px; width: 330px; color: #fff; background-color: #f1c40f; margin: 0 auto; justify-content: center; text-transform: uppercase; font-size: 32px; border-radius: 5px; border-color: #f1c40f; }

/*SERVICES*/
.services { display: flex; background-color: #fff; flex-direction: column; padding: 50px 300px; }

.services .small-services { display: flex; flex-direction: column; align-items: center; }

.services .small-services h1 { color: #000; font-size: 52px; text-transform: uppercase; margin-top: 100px; margin-bottom: 0; text-shadow: 1px 1px 3px; }

.services .small-services p { color: #ccc; font-size: 20px; margin-top: 10px; font-weight: bold; }

.services .three-columns { display: flex; flex-direction: row; padding-top: 50px; }

.services .three-columns .one-column i { text-align: center; margin: 0 auto; }

.services .three-columns .one-column h4 { font-size: 24px; margin-top: 5px; margin-bottom: 5px; text-align: center; }

.services .three-columns .one-column p { margin-top: 0px; font-size: 18px; color: #ccc; text-align: center; }
