@import 'variables';


.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		color: $color-heading;
		font-size: 40px;
		font-weight: 700;
		line-height: 75px;
		letter-spacing: -1px;
		text-transform: uppercase;
		margin-top: 120px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	p {
		color: $grey;
		font-size: 16px;
		margin: 0;
		font-family: 'Droid Serif';
    	src: url('../vendor/DroidSerif-Italic-webfont.woff') format('woff');
    	padding-bottom: 80px;
	}
}

.yellow-button {
	display: flex;
	height: 65px;
	width: 240px;
	color: $white;
	font-weight: 700;
	background-color: $yellow;
	margin: 0 auto;
	justify-content: center;
	text-transform: uppercase;
	font-size: 18px;
	border-color: $yellow;
	margin-bottom: 163px;		
}
			

