@import 'fonts';
@import 'global';
@import 'extends';
@import 'variables';


/*HERO*/ 
.hero {
	background: url("../images/hero.jpg") no-repeat center;
	height: 700px;
	img {
		padding-top: 50px;
	}
	.navi {
		display: flex;
		justify-content: flex-end;
		ul {
			padding-top: 50px;
			margin-bottom: 0;
			li  {
				display: inline-block;
				padding-right: 40px;
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				list-style: none;	
				> a {
					color: $white;
					text-decoration: none;
				}
			}
			li:last-child {
				padding-right: 0;
			}
		}
	}
	.menu {
		h2 {
			font-size: 40px;
			margin: 0px;
			font-family: 'Droid Serif';
    		src: url('../vendor/DroidSerif-Italic-webfont.woff') format('woff');
    		font-weight: normal;
    		font-style: italic;
			letter-spacing: -1px;
			color: $white;
			text-align: center;
			margin-top: 205px;
			padding-bottom: 51px;
		}	
		h1 {
			font-size: 75px;
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: -1.88px;
			color: $white;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			padding-bottom: 61px;
		}
		button {
			@extend .yellow-button;
		}
	}

@media (max-width: 767.98px) { 
	.hero {
		img {
			display: block;
	    	margin-left: auto;
	    	margin-right: auto;
	    	width: 50%;
	    	padding: 0;
		}
		.navi {
			flex-direction: column;
			ul {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0;
			}
		}
	}
}
		
/* SERVICES */

#services {
	display: flex;
	background-color: $white;
	flex-direction: column;
	justify-content: center;
	.services {
		@extend .heading;
	}
	.row {
		padding-right: 0;
		.col-md-4 {
			div {
				display: flex;
				justify-content: center;
			}
		 	h3 {
				font-size: 18px;
				font-weight: 700;
				text-align: center;
				color: $color-heading;
				line-height: 75px;
				letter-spacing: -0.45px;
				margin-bottom: 0;
			}
		 	p {
				font-size: 14px;
				font-weight: 400;
				color: $grey;
				letter-spacing: -0.35px;
				text-align: center;
				font: 'Roboto Slab', serif;
				margin: 0;
				padding-bottom: 120px;
			}
		}
	}
} 	
	

#portfolio {
	background-color: $backgroundgrey;
	.our-portfolio {
		@extend .heading;
	}
	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 70px;
		.small-div {
			background-color: $white;
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;
			img {
				max-width: 100%;
				height: 301px;
				width: 291px;
			}
			h3 {
				color: $black;
				text-align: center;
				margin-bottom: 0;
				margin-top: 28px;
				font-size: 18px;
				font-weight: 700;
				letter-spacing: -0.45px;
			}
			p {
				color: $portfolio-p;
				text-align: center;
				margin-top: 0;
				margin-bottom: 30px;
				font-size: 14px;
				font-family: 'Droid Serif';
				src: url('../vendor/DroidSerif-Italic-webfont.woff') format('woff');
			}
		}
	}	
}


#about-us {
	background-color: $white;
	.about-us {
		@extend .heading;
	}
	article {
		display: flex;
  		width: calc(50% + 92px);
  		> div:not(.image-wrapper) {
  			padding: 0 45px;
  		}
  		h3 {
			color: $color-heading;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: -0.45px;
  		}
  		P {
  			color: $grey;
			font-family: "Roboto Slab";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
  		}
  		.image-wrapper {
			line-height: 0;
			.image-parent::after {
				content: "";
				display: block;
				height: 93px;
			 	width: 3px;
				background: $border-img;
				margin: 0 auto;
				img {
					width: 184px;
			  		height: 184px;
			  		border: 7px solid $border-img;
			  		border-radius: 50%;
			  		overflow: hidden;
				}
			}
		}
	}
	.last-pic {
		display: flex;
		justify-content: center;
		padding-bottom: 120px;
	}
	article:last-child .image-parent::after {
		content: none;
	}
	article:nth-child(odd) {
		text-align: right;
	}
	article:nth-of-type(2n) {
  		margin-left: auto;
	}
}

#team {
	.amazing-team {
		@extend .heading;
	}
	.col-md-4 {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			height: auto;
		}
		h4 {
			color: #222222;
			font-size: 16px;
			font-weight: 700;	
			letter-spacing: -0.4px;
			line-height: 50px;
			margin-top: 26px;
			margin-bottom: 0;
			text-align: center;
		}
		p {
			color: #777777;
			font-family: "Roboto Slab";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			margin-bottom: 14px;
			text-align: center;
		}
		> div {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
			i {
				font-size: 16px;
				height: 41px;
				line-height: 41px;
				width: 41px;
				border: 3px solid #222222;
				background-color: #f9f9f9;
				color: #222;
				border-radius: 50%;
				text-align: center;
				margin-right: 5px;
				margin-left: 5px;
			}	
		}	
	}
	.paragraph {
		color: #777777;
		font-family: "Roboto Slab";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.4px;
		justify-content: center;
		display: flex;
	}
	.brands {
		margin-top: 180px;
		justify-content: space-around;
		margin-bottom: 60px;
		display: flex;
	}
}

#form {
	padding-bottom: 115px;
	background: #222;
	height: 676px;
	.contact {
		@extend .heading;
		h2 {
			color: $white;
			margin-top: 110px;
		}
	}
	input {
		width: 100%;
		height: 50px;
		margin-bottom: 30px;
		padding: 0;
		border: 0;
	}
	textarea {
		width: 100%;
		height: 210px;
		padding: 0;
		border: 0;
	}
	::placeholder {
		text-transform: uppercase;
		color: #bbbbbb;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: -0.35px;
		padding-top: 20px;
		padding-left: 20px;
	}
	button {
		@extend .yellow-button;
		padding: 0;
		border: 0;
	}
}

#footer {
	background-color: #fff;
	height: 90px;
	margin-top: 40px;
	p {
		color: #555555;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.35px;
	}
	i {
		font-size: 17px;
		height: 41px;
		line-height: 41px;
		width: 42px;
		border: 3px solid #222;
		background-color: #222;
		color: $white;
		border-radius: 50%;
		text-align: center;
		margin-right: 2px;
		margin-left: 2px;
	}
}