@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

* {
  box-sizing: border-box;
}


//variables

$color-white: #fff;
$color-gold: #f1c40f;
$color-black: #000;
$color-grey: #ccc;
$color-greylight: #ecf0f1;
$fonts: 'Open Sans', sans-serif;

body {
  margin: 0 auto;
  font-family: $fonts;
  background-color: $color-black;
}


//extends

.layout-hight {
	min-height: 700px;

}
.icon-btn {
	height: 100px;
	line-height: 100px;
	width: 100px;
	cursor: pointer;
	font-size: 70px;
	background-color: $color-white;
	color: $color-gold;
	border-radius: 50%;
	text-align: center;
}

.heading {
	h1 {
		color: $color-black;
		font-size: 52px;
		text-transform: uppercase;
		margin-top: 100px;
		margin-bottom: 0;
		text-shadow: 1px 1px 3px;
		}
	p {
		color: $color-grey;
		font-size: 20px;
		margin-top: 10px;
		font-weight: bold;
	}
}



/*HERO*/ 

.hero {
	background: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=362d7bfa3bb12d109ccec4ef185281cf&auto=format&fit=crop&w=500&q=60) 0/cover no-repeat;
	@extend .layout-hight;
	.nav {
		display: flex; // for all elements in container
		justify-content: space-around; // for all elements
		div {
			display: flex;
			justify-content: flex-start;
			> p {
				color: $color-gold;
				font-size: 32px;					
			}
		}
			
		ul {
			display: flex;
			justify-content: flex-end;
			height: 100px;
			li  {
				text-decoration: none;
				padding: 20px;
				text-transform: uppercase;
				list-style: none;	
				> a {
					color: $color-white;
					text-decoration: none;
				}
			}
		} 
	}
	.small-hero {
		display: flex;
		flex-direction: column;
		align-items: center; // for container for all elements in container
		h2 {
			font-size: 34px;
			color: $color-white;
			margin-top: 100px;
		}	
		h1 {
			font-size: 78px;
			color: $color-white;
			text-transform: uppercase;
		}
		button {
			display: flex;
			height: 106px;
			width: 330px;
			color: $color-white;
			background-color: $color-gold;
			margin: 0 auto;
			justify-content: center;
			text-transform: uppercase;
			font-size: 32px;
			border-radius: 5px;
			border-color: $color-gold;
		}
	}
}

/*SERVICES*/

.services {
	display: flex;
	background-color: $color-white;
	@extend .layout-hight;
	flex-direction: column;
	padding: 50px 150px;
	.small-services {
		display: flex;
		flex-direction: column;
		align-items: center;
		@extend .heading;
	}
	.three-columns {
		display: flex;
		flex-direction: row;
		padding-top: 50px;
		.one-column {
			padding: 0 30px;
			.center {
				display: block;
				text-align: center;
				i {
					@extend .icon-btn;
					text-align: center;
					margin: 0 auto;
				}
			}
			 	h4 {
					font-size: 24px;
					margin-top: 5px;
					margin-bottom: 5px;
					text-align: center;
				}
			 	p {
					margin-top: 0px;
					font-size: 18px;
					color: $color-grey;
					text-align: center;
			}
		}
	}
} 	
	
	
.portfolio {
	background-color: $color-greylight;
	margin-bottom: 100px;
	@extend .layout-hight;
	.our-portfolio {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@extend .heading;
	}
	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 100px;
		margin-bottom: 100px;
		.small-div {
			background-color: $color-white;
			height: 400px;
			display: flex;
			flex-direction: column;
			margin-top: 30px;
			margin-bottom: 30px;
			img {
				width: 350px;
				height: 350px;
				max-width: 100%;
				flex: 1;
			}
			h3 {
				color: $color-black;
				text-align: center;
				margin-bottom: 0;
			}
			p {
				color: $color-grey;
				text-align: center;
				margin-top: 0;
			}
		}
	}
		
}	


 