//variables
$white: #fff;
$black: #333333;
$grey: #777777;
$greylight: #ecf0f1;
$backgroundgrey: #f7f7f7;
$border-img: #f1f1f1;
$color-heading: #222222;
$portfolio-p: #737373;


$general-fonts: 'Montserrat', sans-serif;
$fonts-logo: 'Lobster', cursive;
$fonts1: 'Open Sans', sans-serif;
$yellow: rgb(254,209,54);
$grey: rgb(155,155,155);
